adf-resources/pipeline/GetMetadataActivity_functionality.json
{
	"name": "GetMetadataActivity_functionality",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata from a table",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CECases",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"exists",
						{
							"value": "lastModified",
							"type": "Expression"
						}
					]
				}
			},
			{
				"name": "Get Metadata from a file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get Metadata from a table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RetailSales",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set ItemName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata from a file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ItemName",
					"value": {
						"value": "@{activity('Get Metadata from a file').output.itemName}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ItemName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ControlFlow"
		},
		"annotations": []
	}
}